.navbar img{
    object-fit:contain;
    height:3rem;
    padding-right:30px;
}
.navbar {
    padding: 10px;
    position:fixed;
    top:0px;
    width:100%;
    display:flex;
    justify-content: space-between;
    z-index: 2;

    /*transition animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar.nav_black{
    background-color:#111;
}