.row{
    margin-left:20px;
}
.row_posters{
    display:flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding:20px;
}

.row_posters::-webkit-scrollbar{
    display:none;
}

.row_poster{
    object-fit : contain;
    width:100%;
    max-height: 130px;
    margin-right : 15px;
    transition : transform 450ms;
}

.row_poster.rowLarge{
    max-height:250px;
}

.rowLarge:hover{
    transform:scale(1.10);
}

.row_poster:hover{
    transform: scale(1.08);
}